body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    font-size: 120%;
    font-family: "georgia";
}

button {
    background-color: #0000;
    font-size: 80%;
}

button:hover:enabled {
    background-color: #ddd
}

#weave_direction:disabled {
    background-color: #0000;
}

/* Style the buttons that are used to open the tab content */
.tabbar button {
    border: 2px;
    padding: 2px 2px;
    font-size: 90%;
    font-family: "georgia";
}

#mode {
    margin-bottom: 5px;
}

/* Create an active/current tablink class */
.tabbar button.active {
    font-weight: bold;
}

div.flex-row-start {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
}

#pattern_menu {
    max-width: 220px;
    /* the following doesn't seem to do anything, at least on on macOS Safari */
    text-overflow: ellipsis;
}

div.canvas-grid {
    display: grid;
    flex: 1;
    gap: 5px;
    margin: 5px;
    margin-right: 20px;
}

canvas {
    border: 1px solid #000000;
}

#debug_div {
    margin-right: 20px;
}

#bottom_spacer {
    height: 40px;
}

#pick_color {
    flex: 1;
    height: 10px;
    background-color: rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 1px;
    margin-right: 20px;
}

#toggle_weave_direction {
    font-size: 100%;
}

#thread_direction {
    width: 30px;
    height: 30px;
    font-size: 120%;
}

#weave_direction {
    width: 30px;
    height: 30px;
    font-size: 120%;
}
