body {
    display: flex;
    flex-direction: column;
    width: calc(100% - 20px);
    height: calc(100vh - 30px);
    font-size: calc(12px + 0.5vh + 0.5vw);
    font-family: "georgia";
}

/* Reduce height on iPhone, due to tab-related stuff along the bottom */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    body {
        height: calc(100vh - 100px);
    }

    #pattern_menu {
        max-width: 180px;
    }
}

button {
    background-color: #0000;
    border-radius: 8px;
    font-size: 80%;
}

button:hover:enabled {
    background-color: #ddd
}

select {
    font-size: 100%;
}

#group_size_label {
    margin-left: 1em;
}

#upload_patterns {
    background-color: #0000;
    border-radius: 8px;
    font-size: 80%;
}

#upload_patterns:hover:enabled {
    background-color: #ddd
}

#weave_direction:disabled {
    background-color: #0000;
}

/* Style the buttons that are used to open the tab content */
.tabbar button {
    border: 2px;
    padding: 2px 2px;
    font-size: 100%;
    font-family: "georgia";
}

#mode {
    margin-bottom: 10px;
}

/* Create an active/current tablink class */
.tabbar button.active {
    font-weight: bold;
}

div.flex-row-start {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
}

#pattern_menu {
    /* the following doesn't seem to do anything, at least on on macOS Safari */
    text-overflow: ellipsis;
}

div.canvas-grid {
    display: grid;
    flex: 1;
    gap: 5px;
    margin: 5px;
}

canvas {
    border: 1px solid #000000;
}

#debug_div {
    margin-right: 10px;
}

#total_picks {
    margin-right: 5px;
}

#pick_color {
    flex: 1;
    height: 12px;
    background-color: rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 1px;
    margin-right: 10px;
}

#thread_direction {
    font-size: 90%;
    font-weight: bold;
}

#weave_direction {
    font-size: 90%;
    font-weight: bold;
}
