body {
    display: flex;
    flex-direction: column;
    width: calc(100% - 20px);
    height: calc(100vh - 30px);
    font-size: calc(12px + 0.5vh + 0.5vw);
    font-family: "georgia";
}

/* Reduce height on iPhone, due to tab-related stuff along the bottom */
@media only screen and (min-width: 320px) and (max-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
    body {
        height: calc(100vh - 100px);
    }

    #pattern_menu {
        max-width: 180px;
    }
}

button {
    background-color: #0000;
    border-radius: 8px;
    font-size: 80%;
}

button.toggle_button {
    border-radius: 0px;
}

button.direction_undo {
    color: red;
    border-style: inset;
}

button.direction_do:disabled {
    color: black;
}

button:hover:enabled {
    background-color: #ddd
}

input[type=text] {
    font-size: 80%;
}

select {
    font-size: 90%;
}

#group_size_label {
    margin-left: 1em;
}

#mode {
    margin-bottom: 10px;
}

#upload_patterns {
    background-color: #0000;
    border-radius: 8px;
    font-size: 80%;
}

#upload_patterns:hover:enabled {
    background-color: #ddd
}

#thread_direction:disabled {
    border: 0px;
}

#weave_direction:disabled {
    border: 0px;
}

/* Style the tab bar mode buttons */
button.tab_button {
    font-size: 100%;
    font-family: "georgia";
    border-style: inset;
    background-color: #eee;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

button.tab_active {
    font-weight: bold;
    background-color: #0000;
    border-style: outset;
    border-bottom: 0px;
}

button.tab_active:hover {
    background-color: #0000;
}

div.flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: start;
    gap: 5px;
    margin-bottom: 5px;
}

div.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    gap: 5px;
    margin-bottom: 5px;
}

#pattern_menu {
    /* the following doesn't seem to do anything, at least on on macOS Safari */
    text-overflow: ellipsis;
}

div.canvas-grid {
    display: grid;
    flex: 1;
    gap: 5px;
    margin: 5px;
}

canvas {
    border: 1px solid #000000;
}

/* Exclude borders and padding from dimensions 

This makes it easier to set the size of contained canvases.
*/
div {
    box-sizing: border-box;
}

#shafts_canvas {
    border-width: 0px;
}

#shafts_canvas_container {
    flex-direction: row;
}

#debug_div {
    margin-right: 10px;
}

#total_pick_number {
    margin-right: 5px;
}

#pick_color {
    flex: 1;
    height: 12px;
    background-color: rgba(0, 0, 0, 0);
    border-style: solid;
    border-width: 1px;
    margin-right: 10px;
}
