[build-system]
requires = [
    "setuptools>=61.0",
    "setuptools_scm[toml]>=8.0",
]
build-backend = "setuptools.build_meta"

[project]
name = "base_loom_server"
dynamic = ["version"]
description = "Base package for web servers that control dobby multi-shaft looms"
readme = "README.md"
dependencies = [
  "aiosqlite >= 0.20",
  "dtx_to_wif ~= 3.0",
  "fastapi[standard] ~= 0.115",
  "pyserial-asyncio ~= 0.6",
]
authors = [
  { name="Russell Owen", email="r3owen@gmail.com" },
]
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
]
requires-python = ">=3.11"

[project.optional-dependencies]
dev = [
  "pre-commit ~= 4.0",
  "pytest ~= 8.3",
  "pytest-asyncio ~= 0.25",
]

# Needed due to including package data below
[tool.setuptools.packages.find]
where = ["src"]

[tool.setuptools.package-data]
"base_loom_server" = [
  "py.typed",
  "display.css",
  "display.html_template",
  "display.js",
  "favicon-32x32.png"
]

[project.scripts]
run_example_loom = "base_loom_server.main:run_example_loom"

[project.urls]
Homepage = "https://github.com/r-owen/base_loom_server"
Issues = "https://github.com/r-owen/base_loom_server/issues"

[tool.pytest.ini_options]
asyncio_mode = "auto"

[tool.isort]
profile = "black"

[tool.setuptools_scm]
write_to = "src/base_loom_server/version.py"
write_to_template = """
# Generated by setuptools_scm
__all__ = ["__version__"]
__version__ = "{version}"
"""
